<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
  <ros2_control name="RoverArm" type="system">
      <hardware>
          <!-- By default, set up controllers for simulation. This won't work on real hardware -->
          <plugin>arm_interface/ArmInterface</plugin>
      </hardware>

      <!-- Note: RVIZ only takes positional command interfaces, so when using this interface on the real arm 
        one can simply comment out or remove the position command interfaces.-->
      <joint name="joint1">
          <!-- <command_interface name="velocity"/> -->
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="joint2">
          <!-- <command_interface name="velocity"/> -->
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="joint3">
          <!-- <command_interface name="velocity"/> -->
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="joint5">
          <!-- <command_interface name="velocity"/> -->
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>

        </ros2_control>
</robot>
