<?xml version="1.0"?>
<robot name="ceres"
       xmlns="https://www.ros.org"
       xmlns:xacro="https://ros.org/wiki/xacro"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://www.ros.org ../../urdf.xsd https://ros.org/wiki/xacro ../../xacro.xsd">
    <xacro:property name="mode" value="$(arg mode)"/>
    <xacro:property name="production" value="${mode == 'production'}"/>
    <xacro:property name="simulation" value="${mode == 'simulation'}"/>

    <ros2_control name="WheelsInterface" type="system">
        <xacro:macro name="wheel_joint" params="name id">
            <joint name="${name}">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>

                <!-- TODO 2026-04-30 (Will Free): can't move to xacro:production, because xacro block arguments are not variadic -->
                <xacro:if value="${production}">
                    <param name="can_id">${id}</param>
                    <!-- TODO 2026-02-18 (Will Free): take this from a parameter properly -->
                    <param name="radius">0.15</param>
                </xacro:if>
            </joint>
        </xacro:macro>

        <xacro:macro name="front_wheels" params="side id_forward id_backward">
            <xacro:macro name="front_wheel" params="orientation id">
                <xacro:property name="bar_prefix" value="front_${side}_bogey_${orientation}"/>
                <xacro:wheel_joint name="${bar_prefix}_bar_to_wheel" id="${id}"/>
            </xacro:macro>

            <xacro:front_wheel orientation="forwards" id="${id_forward}"/>
            <xacro:front_wheel orientation="backwards" id="${id_backward}"/>
        </xacro:macro>

        <xacro:macro name="back_wheels" params="id_right id_left">
            <xacro:wheel_joint name="back_bogey_left_leg_to_wheel" id="${id_left}"/>
            <xacro:wheel_joint name="back_bogey_right_leg_to_wheel" id="${id_right}"/>
        </xacro:macro>

        <hardware>
            <xacro:simulation>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:simulation>

            <!-- TODO 2026-04-30 (Will Free): can't move to xacro:production, because xacro block arguments are not variadic -->
            <xacro:if value="${production}">
                <plugin>wheels_interface/RoverSystemWheelsHardware</plugin>
                <param name="can_path">can0</param>
                <!-- TODO 2026-02-25 (Will Free): out motor controllers are wired backwards, so we need a multiplier of -1 -->
                <param name="multiplier">-1</param>
            </xacro:if>
        </hardware>

        <xacro:front_wheels side="left" id_forward="4" id_backward="5"/>
        <xacro:front_wheels side="right" id_forward="3" id_backward="2"/>
        <xacro:back_wheels id_left="6" id_right="1"/>
    </ros2_control>

    <!-- TODO 2026-05-12 (Will Free): use an actual correctly positioned link -->
    <!-- dummy link for SIL -->
    <link name="sil_link"/>

    <joint name="sil" type="continuous">
        <parent link="base_link"/>
        <child link="sil_link"/>
    </joint>

    <!-- TODO 2026-05-12 (Will Free): add simulated SIL -->
    <xacro:if value="${production}">
        <ros2_control name="SIL" type="system">
            <hardware>
                <plugin>sil_interface/SILSystemHardware</plugin>
                <param name="can_path">can0</param>
            </hardware>

            <joint name="sil">
                <!--
                    TODO 2026-05-14 (Will Free): I think these can all have an optional data_type to specify what kind of data it accepts,
                        see: https://control.ros.org/rolling/doc/ros2_control/hardware_interface/doc/hardware_interface_types_userdoc.html#data-types
                        eventually, we should move all of these from using doubles on the range [0, 1] to uint8
                -->
                <command_interface name="red"/>
                <command_interface name="green"/>
                <command_interface name="blue"/>
                <command_interface name="brightness"/>

                <!-- TODO 2026-05-13 (Will Free): make this not hardcoded -->
                <param name="device_id">0x0A08C050</param>
            </joint>
        </ros2_control>
    </xacro:if>


    <!-- TODO 2025-10-01 (Will Free): Add rover ros2 control plugin -->
    <!-- <xacro:production> -->
    <!--     <ros2_control name="RealRobot" type="system"> -->
    <!--         <hardware> -->
    <!--             <plugin>diffdrive_arduino/DiffDriveArduino</plugin> -->
    <!--             <param name="left_wheel_name">left_wheel_joint</param> -->
    <!--             <param name="right_wheel_name">right_wheel_joint</param> -->
    <!--             <param name="loop_rate">30</param> -->
    <!--             <param name="device">/dev/ttyUSB0</param> -->
    <!--             <param name="baud_rate">57600</param> -->
    <!--             <param name="timeout">1000</param> -->
    <!--             <param name="enc_counts_per_rev">3436</param> -->
    <!--         </hardware> -->
    <!--         <joint name="left_wheel_joint"> -->
    <!--             <command_interface name="velocity"> -->
    <!--                 <param name="min">-10</param> -->
    <!--                 <param name="max">10</param> -->
    <!--             </command_interface> -->
    <!--             <state_interface name="velocity"/> -->
    <!--             <state_interface name="position"/> -->
    <!--         </joint> -->
    <!--         <joint name="right_wheel_joint"> -->
    <!--             <command_interface name="velocity"> -->
    <!--                 <param name="min">-10</param> -->
    <!--                 <param name="max">10</param> -->
    <!--             </command_interface> -->
    <!--             <state_interface name="velocity"/> -->
    <!--             <state_interface name="position"/> -->
    <!--         </joint> -->
    <!--     </ros2_control> -->
    <!-- </xacro:production> -->

    <xacro:simulation>
        <gazebo>
            <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
                <parameters>$(find rover_description)/config/controllers.yaml</parameters>

                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>

                <odometry_frame>odom</odometry_frame>
                <robot_base_frame>base_link</robot_base_frame>
            </plugin>
        </gazebo>
    </xacro:simulation>
</robot>
