<?xml version="1.0" encoding="utf-8"?>

<!-- Post processing: Relink meshes to correct directory: package://intro_rover_description to package://urdf_viewer_pkg/URDF_Imports/Intro_URDF-->

<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="intro_rover_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.159441508318599 -0.00201297047389094 0.109571758615536"
        rpy="0 0 0" />
      <mass
        value="36.4066511101417" />
      <inertia
        ixx="1.5499283374339"
        ixy="-0.00132549959175393"
        ixz="0.0644564045339533"
        iyy="1.39540056224361"
        iyz="6.22362010171048E-06"
        izz="2.75295987581913" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.95 0.20 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.0158551675973452 6.95941140680213E-07 0.0434857349337384"
        rpy="0 0 0" />
      <mass
        value="1.28741900135628" />
      <inertia
        ixx="0.00292349927117085"
        ixy="1.26979561584058E-09"
        ixz="-4.49015826092812E-05"
        iyy="0.00200345578289186"
        iyz="-4.12395757002729E-05"
        izz="0.00245365261314516" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.20 0.45 0.95 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_yaw"
    type="continuous">
    <origin
      xyz="0.17253 0 0.14797"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_yaw_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.235784030734697 0.160725027988444 0.00442874565751497"
        rpy="0 0 0" />
      <mass
        value="1.26648994974177" />
      <inertia
        ixx="0.000697924927192797"
        ixy="-6.55293455479423E-09"
        ixz="1.59937183603079E-05"
        iyy="0.00183457112677586"
        iyz="-3.96469317634386E-07"
        izz="0.00161083464347003" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.20 0.75 0.35 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_pitch"
    type="revolute">
    <origin
      xyz="-0.10715 0 0.076542"
      rpy="1.5708 1.5708 0" />
    <parent
      link="shoulder_yaw_link" />
    <child
      link="shoulder_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="elbow_pitch_link">
    <inertial>
      <origin
        xyz="-0.0297946731431505 0.124653021086681 -0.0420890356639063"
        rpy="0 0 0" />
      <mass
        value="1.25099522762874" />
      <inertia
        ixx="0.00183995874881748"
        ixy="-1.41543826655457E-06"
        ixz="2.64316237326258E-06"
        iyy="0.00261608706667929"
        iyz="-5.00214358567953E-06"
        izz="0.00198096232555921" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/elbow_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.95 0.65 0.10 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/elbow_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_pitch"
    type="revolute">
    <origin
      xyz="-0.42291 0.0032138 0.0097054"
      rpy="-0.60031 -1.5496 0.60041" />
    <parent
      link="shoulder_pitch_link" />
    <child
      link="elbow_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="elbow_roll_link">
    <inertial>
      <origin
        xyz="0.439831344616685 0.000390168758616118 -0.0325375284483432"
        rpy="0 0 0" />
      <mass
        value="0.902549918350809" />
      <inertia
        ixx="0.000517749746345938"
        ixy="7.8229583537438E-08"
        ixz="-6.17860381651957E-08"
        iyy="0.00152828965226638"
        iyz="1.03546709215782E-06"
        izz="0.00144187509239469" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/elbow_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.70 0.25 0.85 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/elbow_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_roll"
    type="continuous">
    <origin
      xyz="-0.046 0.09095 -0.252"
      rpy="-1.557 -1.5708 3.1158" />
    <parent
      link="elbow_pitch_link" />
    <child
      link="elbow_roll_link" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.00337802196193002 -0.17277332026333 0.0398409446348469"
        rpy="0 0 0" />
      <mass
        value="0.563910634986513" />
      <inertia
        ixx="0.000497100399809216"
        ixy="1.97405722908446E-08"
        ixz="4.08261204099842E-06"
        iyy="0.000704036979748593"
        iyz="-4.63893045090232E-07"
        izz="0.000364951401033147" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.75 0.75 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_pitch"
    type="revolute">
    <origin
      xyz="0.6275 0.0024183 -0.20169"
      rpy="-1.5708 0.01199 -1.5708" />
    <parent
      link="elbow_roll_link" />
    <child
      link="wrist_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="wrist_roll_link">
    <inertial>
      <origin
        xyz="0.099122460242409 -0.00022817475073067 -0.00311535948377381"
        rpy="0 0 0" />
      <mass
        value="0.322364394266088" />
      <inertia
        ixx="9.31307836334151E-05"
        ixy="4.20216602442221E-07"
        ixz="-1.64779179961156E-05"
        iyy="0.000262714436743239"
        iyz="-1.80298566942832E-07"
        izz="0.000285812515796148" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.95 0.35 0.65 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_roll"
    type="continuous">
    <origin
      xyz="-0.00381 -0.18515 0.12524"
      rpy="1.5871 -1.5404 -3.1416" />
    <parent
      link="wrist_pitch_link" />
    <child
      link="wrist_roll_link" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="fr_swerve_yaw_link">
    <inertial>
      <origin
        xyz="4.34003277971495E-06 0.0424244704988336 -0.0524917309491004"
        rpy="0 0 0" />
      <mass
        value="0.554469856268406" />
      <inertia
        ixx="0.000560561824500187"
        ixy="4.05462009493962E-08"
        ixz="4.3011706837314E-08"
        iyy="0.000539238754731832"
        iyz="3.10309355888949E-06"
        izz="0.000491898849757682" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fr_swerve_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.55 0.80 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fr_swerve_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_swerve_yaw"
    type="revolute">
    <origin
      xyz="0.4237 -0.51488 -0.048437"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="fr_swerve_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="fr_wheel_link">
    <inertial>
      <origin
        xyz="-0.000282196686234248 0.0613279579299709 0.000113058958698342"
        rpy="0 0 0" />
      <mass
        value="1.55830616496123" />
      <inertia
        ixx="0.00835588598934043"
        ixy="-6.5860688027315E-07"
        ixz="-3.73866342561462E-06"
        iyy="0.0131006533828929"
        iyz="8.49263746401124E-07"
        izz="0.00835773873287842" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fr_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.95 0.45 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fr_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_wheel"
    type="continuous">
    <origin
      xyz="0.000212360752061935 -0.0574662142422728 -0.201583720606049"
      rpy="0 0 0" />
    <parent
      link="fr_swerve_yaw_link" />
    <child
      link="fr_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="br_swerve_yaw_link">
    <inertial>
      <origin
        xyz="-3.15923268445761E-06 0.0424244705029883 -0.0524546052946393"
        rpy="0 0 0" />
      <mass
        value="0.554469856210505" />
      <inertia
        ixx="0.000560566478987308"
        ixy="-3.09023319314787E-08"
        ixz="2.97793989119187E-08"
        iyy="0.000539238754672639"
        iyz="3.40566695719425E-06"
        izz="0.000491894195200067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/br_swerve_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.35 0.30 0.90 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/br_swerve_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_swerve_yaw"
    type="revolute">
    <origin
      xyz="-0.4663 -0.51488 -0.025937"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="br_swerve_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="br_wheel_link">
    <inertial>
      <origin
        xyz="0.000274417710271369 0.0613279575864227 -0.000130817450830711"
        rpy="0 0 0" />
      <mass
        value="1.5583061724315" />
      <inertia
        ixx="0.00835541790433353"
        ixy="6.03089845226322E-07"
        ixz="-3.59042628233229E-06"
        iyy="0.0131006533894266"
        iyz="-8.89548597661312E-07"
        izz="0.00835820682593188" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/br_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.60 0.45 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/br_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_wheel"
    type="continuous">
    <origin
      xyz="-0.00021041711699632 -0.0574662142420289 -0.201522792567001"
      rpy="0 0 0" />
    <parent
      link="br_swerve_yaw_link" />
    <child
      link="br_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="fl_swerve_yaw_link">
    <inertial>
      <origin
        xyz="3.15923268462415E-06 -0.0424244705024794 -0.0524546052946392"
        rpy="0 0 0" />
      <mass
        value="0.554469856210505" />
      <inertia
        ixx="0.000560566478987308"
        ixy="-3.0902331931218E-08"
        ixz="-2.97793989118636E-08"
        iyy="0.000539238754672638"
        iyz="-3.40566695719434E-06"
        izz="0.000491894195200066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fl_swerve_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.80 0.20 0.45 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fl_swerve_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_swerve_yaw"
    type="revolute">
    <origin
      xyz="0.4237 0.51488 -0.025938"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="fl_swerve_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="fl_wheel_link">
    <inertial>
      <origin
        xyz="-0.000274419026007722 -0.0613279587848613 -0.000130819137951349"
        rpy="0 0 0" />
      <mass
        value="1.55830614121036" />
      <inertia
        ixx="0.00835541793677214"
        ixy="6.0309423636897E-07"
        ixz="3.59047904535273E-06"
        iyy="0.0131006533426921"
        iyz="8.89553079013513E-07"
        izz="0.00835820674781625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.45 0.70 0.95 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/fl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_wheel"
    type="continuous">
    <origin
      xyz="0.000210417116996542 0.0574662142421208 -0.201522792567001"
      rpy="0 0 0" />
    <parent
      link="fl_swerve_yaw_link" />
    <child
      link="fl_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="bl_swerve_yaw_link">
    <inertial>
      <origin
        xyz="-4.34003277988149E-06 -0.0424244705000301 -0.0524917309491003"
        rpy="0 0 0" />
      <mass
        value="0.554469856268406" />
      <inertia
        ixx="0.000560561824500187"
        ixy="4.05462009493804E-08"
        ixz="-4.30117068375034E-08"
        iyy="0.000539238754731833"
        iyz="-3.10309355888949E-06"
        izz="0.000491898849757682" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/bl_swerve_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75 0.45 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/bl_swerve_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_swerve_yaw"
    type="revolute">
    <origin
      xyz="-0.466299868071487 0.514883785757828 -0.0484375000000003"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="bl_swerve_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="bl_wheel_link">
    <inertial>
      <origin
        xyz="0.000282197956260499 -0.0613279602456375 0.000113059695933032"
        rpy="0 0 0" />
      <mass
        value="1.55830610436698" />
      <inertia
        ixx="0.00835588596965035"
        ixy="-6.58610929599069E-07"
        ixz="3.73869748639089E-06"
        iyy="0.0131006532908212"
        iyz="-8.49265952041755E-07"
        izz="0.0083577386599343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/bl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.30 0.80 0.70 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_viewer_pkg/URDF_Imports/Intro_URDF/meshes/bl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_wheel"
    type="continuous">
    <origin
      xyz="-0.000212360752061991 0.0574662142421849 -0.201583720606049"
      rpy="0 0 0" />
    <parent
      link="bl_swerve_yaw_link" />
    <child
      link="bl_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
</robot>
