<?xml version="1.0"?>
<robot name="ceres"
       xmlns="https://www.ros.org"
       xmlns:xacro="https://ros.org/wiki/xacro"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://www.ros.org ../urdf.xsd https://ros.org/wiki/xacro ../xacro.xsd">
    <!--
    TODO:
      - Add inertial properties
        - mass
        - angular inertia
      - Add links for odometry sources
        - Cameras
        - GPS
        - IMU
        - ZED/ZED replacement
        - LiDAR
    -->

    <xacro:property name="mode" value="$(arg mode)"/>
    <xacro:property name="production" value="${mode == 'production'}"/>
    <xacro:property name="simulation" value="${mode == 'simulation'}"/>

    <!-- rough estimate of wheel weight: 3kg -->

    <xacro:property name="body_length" value="0.638"/>
    <xacro:property name="body_width" value="0.3047"/>
    <xacro:property name="body_height" value="0.175"/>
    <xacro:property name="wheel_radius" value="0.150"/>
    <xacro:property name="wheel_inner_radius" value="0.09525"/>
    <xacro:property name="wheel_thickness" value="0.127"/>
    <xacro:property name="visual_adjustment" value="0.001"/>

    <!-- <xacro:macro name="gazebo" params="reference"> -->
    <!--     <xacro:if value="${simulation}"> -->
    <!--         <gazebo reference="${reference}"> -->
    <!--             &lt;!&ndash; TODO 2025-11-10 (Will Free): inner part &ndash;&gt; -->
    <!--         </gazebo> -->
    <!--     </xacro:if> -->
    <!-- </xacro:macro> -->

    <!-- region Materials -->
    <material name="plastic-red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="plastic-black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="aluminum">
        <color rgba="0.8 0.8 0.9 1"/>
    </material>

    <material name="antenna">
        <color rgba="0.85 0.85 0.85 1"/>
    </material>

    <xacro:macro name="gazebo_color" params="reference color">
        <xacro:if value="${simulation}">
            <gazebo reference="${reference}">
                <xacro:if value="${color == 'plastic-red'}">
                    <material>
                        <ambient>1 0 0 1</ambient>
                        <diffuse>1 0 0 1</diffuse>
                    </material>
                </xacro:if>
                <xacro:if value="${color == 'plastic-black'}">
                    <material>
                        <ambient>0 0 0 1</ambient>
                        <diffuse>0 0 0 1</diffuse>
                    </material>
                </xacro:if>
                <xacro:if value="${color == 'aluminum'}">
                    <material>
                        <ambient>0.8 0.8 0.9 1</ambient>
                        <diffuse>0.8 0.8 0.9 1</diffuse>
                    </material>
                </xacro:if>
                <xacro:if value="${color == 'antenna'}">
                    <material>
                        <ambient>0.85 0.85 0.85 1</ambient>
                        <diffuse>0.85 0.85 0.85 1</diffuse>
                    </material>
                </xacro:if>
            </gazebo>
        </xacro:if>
    </xacro:macro>
    <!-- endregion -->

    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}"/>
            <!-- <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/> -->
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
    </xacro:macro>

    <link name="base_link">
        <visual>
            <origin xyz="${body_length/2} 0 -${body_height/2}"/>
            <geometry>
                <box size="${body_length - visual_adjustment} ${body_width - visual_adjustment} ${body_height - visual_adjustment}"/>
            </geometry>
            <material name="aluminum"/>
        </visual>
        <collision>
            <origin xyz="${body_length/2} 0 -${body_height/2}"/>
            <geometry>
                <box size="${body_length} ${body_width} ${body_height}"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_to_mass" type="fixed">
        <parent link="base_link"/>
        <child link="mass"/>
        <origin xyz="0 0 0"/>
    </joint>


    <link name="mass">
        <inertial>
            <origin xyz="${body_length/2} 0 -${body_height/2}"/>
            <!-- I assume this is like kg or smth? -->
            <mass value="20"/>
            <inertia ixx="0.126164" ixy="0.0" ixz="0.0" iyy="0.416519" iyz="0.0" izz="0.481014"/>
        </inertial>
    </link>

    <xacro:gazebo_color reference="base_link" color="aluminum"/>

    <!--
    The footprint of the robot.
    This is essentially the base_link projected onto the ground.
    In some scenarios, for example if a robot moves vertically, then this may not be constant. However, in our case it is.
    -->
    <!-- <link name="base_footprint"> -->
    <!-- </link> -->

    <!-- region Red Body Panels (Visual) -->
    <xacro:macro name="base_link_panel" params="axis">
        <xacro:property name="panel_length" value="${body_length - (0 if axis == 'x' else 0.02)}"/>
        <xacro:property name="panel_width" value="${body_width - (0 if axis == 'y' else 0.02)}"/>
        <xacro:property name="panel_height" value="${body_height - (0 if axis == 'z' else 0.02)}"/>

        <link name="base_red_${axis}_panel">
            <visual>
                <geometry>
                    <box size="${panel_length} ${panel_width} ${panel_height}"/>
                </geometry>
                <material name="plastic-red"/>
            </visual>
        </link>

        <joint name="base_to_${axis}_panel" type="fixed">
            <parent link="base_link"/>
            <child link="base_red_${axis}_panel"/>
            <origin xyz="${body_length/2} 0 -${body_height/2}"/>
        </joint>

        <xacro:gazebo_color reference="base_red_${axis}_panel" color="plastic-red"/>
    </xacro:macro>


    <xacro:base_link_panel axis="x"/>
    <xacro:base_link_panel axis="y"/>
    <xacro:base_link_panel axis="z"/>
    <!-- endregion -->

    <!-- region Wheels -->
    <xacro:macro name="wheel" params="prefix x y z mirror">
        <!-- TODO: wtf is this from? it was in the wheel geometry... -->
        <!-- <box size=".40 .408 .20"/> -->

        <link name="${prefix}_wheel">
            <visual>
                <origin xyz="${x} ${(wheel_thickness/2 + y) * mirror} ${z}" rpy="${pi/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/>
                </geometry>
                <material name="plastic-red"/>
            </visual>
            <collision>
                <origin xyz="${x} ${(wheel_thickness/2 + y) * mirror} ${z}" rpy="${pi/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/>
                </geometry>
            </collision>
            <!-- <inertial> -->
            <!--     <origin xyz="${body_length/2} 0 -${body_height/2}"/> -->
            <!--     <mass value="1.14395"/> -->
            <!--     <inertia -->
            <!--             ixx="0.126164" -->
            <!--             ixy="0.0" -->
            <!--             ixz="0.0" -->
            <!--             iyy="0.416519" -->
            <!--             iyz="0.0" -->
            <!--             izz="0.481014"/> -->
            <!-- </inertial> -->
            <xacro:default_inertial mass="0.2"/>
        </link>

        <xacro:gazebo_color reference="${prefix}_wheel" color="plastic-red"/>

        <joint name="${prefix}_parent_to_inner_wheel" type="fixed">
            <parent link="${prefix}_wheel"/>
            <child link="${prefix}_inner_wheel"/>
            <origin xyz="${x} ${(wheel_thickness/2 + y) * mirror} ${z}"/>
        </joint>

        <!-- region Inner Wheels (Visual) -->
        <link name="${prefix}_inner_wheel">
            <visual>
                <origin rpy="${pi/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_inner_radius}" length="${wheel_thickness + visual_adjustment}"/>
                </geometry>
                <material name="plastic-black"/>
            </visual>
        </link>

        <xacro:gazebo_color reference="${prefix}_inner_wheel" color="plastic-black"/>
        <!-- endregion -->
    </xacro:macro>

    <xacro:macro name="wheel_joint" params="parent prefix xyz:='0 0 0' rpy:='0 0 0'">
        <joint name="${parent}_to_wheel" type="continuous">
            <axis xyz="0 1 0" rpy="0 0 0"/>
            <parent link="${parent}"/>
            <child link="${prefix}_wheel"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <dynamics damping="0.2"/> <!-- TODO 2025-09-19 (Will Free): Correct values -->
        </joint>
    </xacro:macro>
    <!-- endregion -->

    <!-- region Bogeys -->
    <xacro:macro name="front_bogey" params="side">
        <xacro:property name="reflect" value="${1 if side == 'left' else -1}"/>

        <xacro:property name="bogey_offset_x" value="-0.05251"/>
        <xacro:property name="bogey_offset_y" value="-0.0015"/>
        <xacro:property name="bogey_offset_z" value="0.02"/>

        <joint name="base_to_front_${side}_bogey" type="fixed">
            <parent link="base_link"/>
            <child link="front_${side}_bogey"/>
            <origin xyz="${body_length + bogey_offset_x} ${(body_width/2 + bogey_offset_y) * reflect} ${-body_height + bogey_offset_z}"/>
        </joint>

        <xacro:property name="bogey_base_length" value="0.10378"/>
        <xacro:property name="bogey_base_width" value="0.0746"/>
        <xacro:property name="bogey_base_height" value="0.08448"/>

        <link name="front_${side}_bogey">
            <visual>
                <origin xyz="0 ${bogey_base_width/2 * reflect} -${bogey_base_height/2}"/>
                <geometry>
                    <box size="${bogey_base_length} ${bogey_base_width} ${bogey_base_height}"/>
                </geometry>
                <material name="aluminum"/>
            </visual>
            <collision>
                <origin xyz="0 ${bogey_base_width/2 * reflect} -${bogey_base_height/2}"/>
                <geometry>
                    <box size="${bogey_base_length} ${bogey_base_width} ${bogey_base_height}"/>
                </geometry>
            </collision>

            <xacro:default_inertial mass="0.1"/>
        </link>

        <xacro:gazebo_color reference="front_${side}_bogey" color="aluminum"/>

        <xacro:property name="bogey_bar_radius" value="0.0127"/>
        <xacro:property name="bogey_bar_length" value="0.25117"/>
        <xacro:property name="bogey_bar_angle_deg" value="116.39"/>
        <xacro:property name="bogey_bar_wheel_offset" value="0.020475"/>

        <xacro:macro name="front_bogey_bar" params="orientation">
            <xacro:property name="reflect_bar" value="${1 if orientation == 'forwards' else -1}"/>
            <xacro:property name="bar_prefix" value="front_${side}_bogey_${orientation}"/>

            <joint name="front_${side}_bogey_to_${orientation}_bar" type="fixed">
                <parent link="front_${side}_bogey"/>
                <child link="${bar_prefix}_bar"/>
                <!-- <origin xyz="-0.00013 ${reflect * 0.04249} -0.06904"/> -->
                <origin xyz="-0.00013 ${reflect * 0.04249} ${-0.0490381}" rpy="0 ${-bogey_bar_angle_deg / 360 * pi * reflect_bar} 0"/>
            </joint>

            <link name="${bar_prefix}_bar">
                <!-- TODO: Fix the z value for the origin -->
                <visual>
                    <!-- <origin xyz="-${bogey_bar_length/2} 0 -${bogey_base_height}" rpy="0 ${bogey_bar_angle_deg / 360 * pi} 0"/> -->
                    <origin xyz="0 0 -${bogey_bar_length/2}" rpy="0 0 0"/>
                    <geometry>
                        <cylinder radius="${bogey_bar_radius}" length="${bogey_bar_length}"/>
                        <!-- <box size="${bogey_base_length} ${bogey_base_width} ${bogey_base_height}"/> -->
                    </geometry>
                    <material name="aluminum"/>
                </visual>
                <!-- <collision> -->
                <!--     <origin xyz="0 -${bogey_base_width/2} -${bogey_base_height/2}"/> -->
                <!--     <geometry> -->
                <!--         <box size="${bogey_base_length} ${bogey_base_width} ${bogey_base_height}"/> -->
                <!--     </geometry> -->
                <!-- </collision> -->

                <xacro:default_inertial mass="0.1"/>
            </link>

            <xacro:gazebo_color reference="${bar_prefix}_bar" color="aluminum"/>

            <link name="${bar_prefix}_bar_base">
                <!--
                mass: 111.8 grams
                center of mass (xyz):
                - 4.93 mm
                - 2.45 mm
                - -1.82mm
                 -->
                <xacro:property name="bar_base_radius" value="0.045"/>
                <xacro:property name="bar_base_thickness" value="${bogey_bar_wheel_offset + bogey_bar_radius}"/>
                <visual>
                    <origin xyz="0 ${(bar_base_thickness/2 - bogey_bar_radius) * reflect} 0" rpy="${pi/2} 0 0"/>
                    <geometry>
                        <cylinder radius="${bar_base_radius}" length="${bar_base_thickness}"/>
                    </geometry>
                    <material name="aluminum"/>
                </visual>
                <collision>
                    <origin xyz="0 ${(bar_base_thickness/2 - bogey_bar_radius) * reflect} 0" rpy="${pi/2} 0 0"/>
                    <geometry>
                        <cylinder radius="${bar_base_radius}" length="${bar_base_thickness}"/>
                    </geometry>
                </collision>

                <xacro:default_inertial mass="0.05"/>
            </link>

            <xacro:gazebo_color reference="${bar_prefix}_bar_base" color="aluminum"/>

            <joint name="${bar_prefix}_bar_to_base" type="fixed">
                <parent link="${bar_prefix}_bar"/>
                <child link="${bar_prefix}_bar_base"/>
                <origin xyz="0 0 -${bogey_bar_length}" rpy="0 ${-bogey_bar_angle_deg / 360 * pi * reflect_bar} 0"/>
            </joint>

            <xacro:wheel_joint parent="${bar_prefix}_bar" prefix="${bar_prefix}" xyz="0 0 -${bogey_bar_length}"
                               rpy="0 ${-bogey_bar_angle_deg / 360 * pi * reflect_bar} 0"/>
            <xacro:wheel prefix="${bar_prefix}" mirror="${reflect}" x="0" y="${bogey_bar_wheel_offset}" z="0"/>
        </xacro:macro>

        <xacro:front_bogey_bar orientation="forwards"/>
        <xacro:front_bogey_bar orientation="backwards"/>
    </xacro:macro>

    <xacro:macro name="back_bogey">
        <xacro:property name="bogey_bar_offset_x" value="0.02389"/>
        <xacro:property name="bogey_bar_offset_z" value="0.0027"/>
        <xacro:property name="bogey_bar_length" value="0.435"/>
        <xacro:property name="bogey_bar_width" value="0.040"/>
        <xacro:property name="bogey_bar_height" value="0.020"/>

        <joint name="base_to_back_bogey" type="fixed">
            <parent link="base_link"/>
            <child link="back_bogey"/>
            <origin xyz="-${bogey_bar_offset_x} 0 -${body_height + bogey_bar_offset_z}"/>
        </joint>

        <link name="back_bogey">
            <visual>
                <origin xyz="-${bogey_bar_width/2} 0 -${bogey_bar_height/2}"/>
                <geometry>
                    <box size="${bogey_bar_width} ${bogey_bar_length} ${bogey_bar_height}"/>
                </geometry>
                <material name="aluminum"/>
            </visual>
            <collision>
                <origin xyz="-${bogey_bar_width/2} 0 -${bogey_bar_height/2}"/>
                <geometry>
                    <box size="${bogey_bar_width} ${bogey_bar_length} ${bogey_bar_height}"/>
                </geometry>
            </collision>

            <xacro:default_inertial mass="0.1"/>
        </link>

        <xacro:gazebo_color reference="back_bogey" color="aluminum"/>

        <xacro:macro name="back_wheel_leg" params="side">
            <xacro:property name="reflect" value="${1 if side == 'left' else -1}"/>

            <xacro:property name="leg_offset" value="0.00211"/>
            <xacro:property name="leg_length" value="0.0889"/>
            <xacro:property name="leg_width" value="0.0254"/>
            <xacro:property name="leg_height" value="0.175"/>
            <xacro:property name="leg_wheel_y_offset" value="0.0127"/>
            <xacro:property name="leg_wheel_z_offset" value="0.04044"/>

            <joint name="back_bogey_to_${side}_leg" type="fixed">
                <parent link="back_bogey"/>
                <child link="back_bogey_${side}_leg"/>
                <origin xyz="-${bogey_bar_width/2} ${(bogey_bar_length/2 + leg_offset) * reflect} -${bogey_bar_height}"/>
            </joint>

            <link name="back_bogey_${side}_leg">
                <visual>
                    <origin xyz="0 0 -${leg_height/2}"/>
                    <geometry>
                        <box size="${leg_length} ${leg_width} ${leg_height}"/>
                    </geometry>
                    <material name="aluminum"/>
                </visual>
                <collision>
                    <origin xyz="0 0 -${leg_height/2}"/>
                    <geometry>
                        <box size="${leg_length} ${leg_width} ${leg_height}"/>
                    </geometry>
                </collision>

                <xacro:default_inertial mass="0.1"/>
            </link>

            <xacro:if value="${simulation}">
                <gazebo reference="back_bogey_${side}_leg">
                    <material>Gazebo/Grey</material>
                </gazebo>
            </xacro:if>

            <xacro:wheel_joint parent="back_bogey_${side}_leg" prefix="back_bogey_${side}"
                               xyz="0 ${leg_width/2 * reflect} ${-leg_height + leg_wheel_z_offset}"/>
            <!-- <xacro:wheel prefix="back_bogey_${side}" mirror="${reflect}" x="0" y="${leg_wheel_y_offset * reflect}" z="${leg_wheel_z_offset}"/> -->
            <xacro:wheel prefix="back_bogey_${side}" mirror="${reflect}" x="0" y="0" z="0"/>
        </xacro:macro>

        <xacro:back_wheel_leg side="left"/>
        <xacro:back_wheel_leg side="right"/>
    </xacro:macro>

    <xacro:front_bogey side="left"/>
    <xacro:front_bogey side="right"/>

    <xacro:back_bogey/>
    <!-- endregion -->

    <xacro:macro name="arm_attachment">
        <xacro:property name="arm_base_offset_z" value="-0.02"/>
        <xacro:property name="arm_base_length" value="0.126671"/>
        <xacro:property name="arm_base_width" value="0.3067"/>
        <xacro:property name="arm_base_height" value="0.135"/>

        <joint name="base_to_front_arm_attachment" type="fixed">
            <parent link="base_link"/>
            <child link="front_arm_attachment"/>
            <origin xyz="${body_length} 0 -${body_height + arm_base_offset_z}"/>
        </joint>

        <link name="front_arm_attachment">
            <visual>
                <origin xyz="${arm_base_length/2} 0 ${arm_base_height/2}"/>
                <geometry>
                    <box size="${arm_base_length} ${arm_base_width} ${arm_base_height}"/>
                </geometry>
                <material name="aluminum"/>
            </visual>
            <collision>
                <origin xyz="${arm_base_length/2} 0 ${arm_base_height/2}"/>
                <geometry>
                    <box size="${arm_base_length} ${arm_base_width} ${arm_base_height}"/>
                </geometry>
            </collision>
        </link>

        <xacro:gazebo_color reference="front_arm_attachment" color="aluminum"/>

        <joint name="front_arm_attachment_to_forward_camera" type="fixed">
            <parent link="front_arm_attachment"/>
            <child link="forward_camera"/>
            <origin xyz="0.179667 0 0.0829656"/>
        </joint>

        <link name="forward_camera">
            <visual>
                <geometry>
                    <sphere radius="0.025"/>
                </geometry>
                <material name="plastic-black"/>
            </visual>
            <!--
            <collision>
            </collision>
            -->
        </link>

        <xacro:gazebo_color reference="forward_camera" color="plastic-black"/>
    </xacro:macro>

    <xacro:macro name="autonomy_module">
        <xacro:property name="module_base_offset_z" value="-0.02"/>
        <xacro:property name="module_base_length" value="0.16"/>
        <xacro:property name="module_base_width" value="${body_width}"/>
        <xacro:property name="module_base_height" value="0.1"/>

        <joint name="base_to_autonomy_module_base" type="fixed">
            <parent link="base_link"/>
            <child link="autonomy_module_base"/>
            <origin xyz="${body_length} 0 0"/>
        </joint>

        <link name="autonomy_module_base">
            <visual>
                <origin xyz="${module_base_length/2} 0 -${module_base_height/2}"/>
                <geometry>
                    <box size="${module_base_length} ${module_base_width} ${module_base_height}"/>
                </geometry>
                <material name="aluminum"/>
            </visual>
            <collision>
                <origin xyz="${module_base_length/2} 0 ${module_base_height/2}"/>
                <geometry>
                    <box size="${module_base_length} ${module_base_width} ${module_base_height}"/>
                </geometry>
            </collision>
        </link>

        <xacro:gazebo_color reference="autonomy_module_base" color="aluminum"/>

        <joint name="autonomy_module_base_to_lidar" type="fixed">
            <parent link="autonomy_module_base"/>
            <child link="lidar_link"/>
            <origin xyz="${module_base_length/2} 0 0"/>
        </joint>

        <xacro:property name="lidar_height" value="0.08"/>
        <xacro:property name="lidar_radius" value="0.04"/>

        <link name="lidar_link">
            <visual>
                <origin xyz="0 0 ${lidar_height/2}"/>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}"/>
                </geometry>
                <material name="aluminum"/>
            </visual>
        </link>

        <xacro:gazebo_color reference="lidar_link" color="aluminum"/>

        <joint name="autonomy_module_base_to_forward_camera" type="fixed">
            <parent link="autonomy_module_base"/>
            <child link="forward_camera"/>
            <!-- TODO 2026-02-26 (Will Free): correct value for this -->
            <origin xyz="0.179667 0 -0.0829656"/>
        </joint>

        <link name="forward_camera">
            <visual>
                <geometry>
                    <sphere radius="0.025"/>
                </geometry>
                <material name="plastic-black"/>
            </visual>
            <!--
            <collision>
            </collision>
            -->
        </link>

        <xacro:gazebo_color reference="forward_camera" color="plastic-black"/>
    </xacro:macro>

    <!-- TODO 2026-02-26 (Will Free): select the correct one depending on mission type -->
    <!-- <xacro:arm_attachment/> -->
    <xacro:autonomy_module/>

    <xacro:macro name="battery" params="side">
        <xacro:property name="reflect" value="${1 if side == 'left' else -1}"/>

        <xacro:property name="battery_size" value="0.1062"/>
        <xacro:property name="battery_height" value="0.1841"/>
        <xacro:property name="battery_y_offset" value="0.0092"/>
        <xacro:property name="battery_z_offset" value="-0.0723"/>

        <joint name="base_to_${side}_battery" type="fixed">
            <parent link="base_link"/>
            <child link="${side}_battery"/>
            <origin xyz="${-battery_size} ${(body_width/2 - battery_size + battery_y_offset) * reflect} ${battery_z_offset}"/>
        </joint>

        <link name="${side}_battery">
            <visual>
                <origin xyz="${battery_size/2} ${battery_size/2*reflect} ${battery_height/2}"/>
                <geometry>
                    <box size="${battery_size} ${battery_size} ${battery_height}"/>
                </geometry>
                <material name="plastic-black"/>
            </visual>
            <collision>
                <origin xyz="${battery_size/2} ${battery_size/2*reflect} ${battery_height/2}"/>
                <geometry>
                    <box size="${battery_size} ${battery_size} ${battery_height}"/>
                </geometry>
            </collision>
        </link>

        <xacro:gazebo_color reference="${side}_battery" color="plastic-black"/>
    </xacro:macro>

    <xacro:battery side="right"/>
    <xacro:battery side="left"/>

    <xacro:macro name="pole">
        <xacro:property name="pole_height" value="0.920"/>
        <xacro:property name="pole_radius" value="0.0127"/>
        <xacro:property name="pole_x_offset" value="-0.02698"/>
        <xacro:property name="pole_y_offset" value="0.020"/>

        <joint name="base_to_pole" type="fixed">
            <parent link="base_link"/>
            <child link="pole"/>
            <origin xyz="${pole_x_offset} 0 ${-body_height + pole_y_offset}"/>
        </joint>

        <link name="pole">
            <visual>
                <origin xyz="0 0 ${pole_height/2}"/>
                <geometry>
                    <cylinder radius="${pole_radius}" length="${pole_height}"/>
                </geometry>
                <material name="plastic-black"/>
            </visual>
            <collision>
                <origin xyz="0 0 ${pole_height/2}"/>
                <geometry>
                    <cylinder radius="${pole_radius}" length="${pole_height}"/>
                </geometry>
            </collision>
        </link>

        <xacro:gazebo_color reference="pole" color="plastic-black"/>

        <xacro:property name="antenna_radius" value="0.010"/>
        <xacro:property name="antenna_height" value="0.604"/>

        <xacro:property name="antenna_a_x_offset" value="-0.02909"/>
        <xacro:property name="antenna_a_z_offset" value="-0.12886"/>

        <xacro:property name="antenna_b_x_offset" value="0.0483"/>
        <xacro:property name="antenna_b_y_offset" value="0.065062"/>
        <xacro:property name="antenna_b_z_offset" value="-0.0645"/>

        <joint name="pole_to_antenna_a" type="fixed">
            <parent link="pole"/>
            <child link="antenna_a"/>
            <origin xyz="${antenna_a_x_offset} 0 ${pole_height + antenna_a_z_offset}"/>
        </joint>

        <link name="antenna_a">
            <visual>
                <origin xyz="0 0 ${antenna_height/2}"/>
                <geometry>
                    <cylinder radius="${antenna_radius}" length="${antenna_height}"/>
                </geometry>
                <material name="antenna"/>
            </visual>
            <collision>
                <origin xyz="0 0 ${antenna_height/2}"/>
                <geometry>
                    <cylinder radius="${antenna_radius}" length="${antenna_height}"/>
                </geometry>
            </collision>
        </link>

        <xacro:gazebo_color reference="antenna_a" color="antenna"/>

        <joint name="pole_to_antenna_b" type="fixed">
            <parent link="pole"/>
            <child link="antenna_b"/>
            <origin xyz="${antenna_b_x_offset} ${antenna_b_y_offset} ${pole_height + antenna_b_z_offset}" rpy="${pi/2} 0 0"/>
        </joint>

        <link name="antenna_b">
            <visual>
                <origin xyz="0 0 ${antenna_height/2}"/>
                <geometry>
                    <cylinder radius="${antenna_radius}" length="${antenna_height}"/>
                </geometry>
                <material name="antenna"/>
            </visual>
            <collision>
                <origin xyz="0 0 ${antenna_height/2}"/>
                <geometry>
                    <cylinder radius="${antenna_radius}" length="${antenna_height}"/>
                </geometry>
            </collision>
        </link>

        <xacro:gazebo_color reference="antenna_b" color="antenna"/>

        <xacro:property name="antenna_block_size" value="0.090"/>
        <xacro:property name="antenna_block_depth" value="0.1128"/>

        <joint name="pole_to_antenna_block" type="fixed">
            <parent link="pole"/>
            <child link="antenna_block"/>
            <origin xyz="0 0 ${pole_height + antenna_b_z_offset}"/>
        </joint>

        <link name="antenna_block">
            <visual>
                <origin xyz="${(antenna_a_x_offset + antenna_b_x_offset)/2} 0 0"/>
                <geometry>
                    <box size="${antenna_block_depth} ${antenna_block_size} ${antenna_block_size}"/>
                </geometry>
                <material name="plastic-red"/>
            </visual>
            <collision>
                <origin xyz="${antenna_a_x_offset + antenna_b_x_offset} 0 0"/>
                <geometry>
                    <box size="${antenna_block_depth} ${antenna_block_size} ${antenna_block_size}"/>
                </geometry>
            </collision>
        </link>

        <xacro:gazebo_color reference="antenna_block" color="plastic-red"/>
    </xacro:macro>

    <xacro:pole/>
</robot>
